/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.box .inner-box{
  background-color: red;

}

.box .inner-box p{
  color: white;
}
.box{

  padding: 10px;

}
#outer-box{
  background-color: purple;
  


}